body {
    background-color: #353535;
    text-align: center;
}

h1 {
    color: white;
}

.team-a-win {
    background-color: rgba(19, 223, 1, 0.486);
}

.team-b-win {
    background-color:  rgb(207, 2, 2);
}

.form-control {
    text-align: center;
}

.headline-container {
    background-color: #4285f4; 
    padding: 10px;
    border-radius: 10px; 
    text-align: center;
    margin-bottom: 20px;
}

.headline-container h1 {
    margin: 0;
    color: #ffffff;
}


#winner-message {
    border-radius: 10px; 
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    display: inline-block;
    color: #ffffff;
}

.score-flexbox-container {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button-flexbox-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 10px;
}

.button-team-a {
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    background-color: rgba(19, 223, 1, 0.486);
    color: white;
}

.button-team-b {
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    background-color: rgb(207, 2, 2);
    color: white;
}

.hide-element {
    display: none !important;
}

